@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  @keyframes fadeIn2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100%{
        opacity: 100;
    } 
  }

  @keyframes moveToRight {
    0% {
      transform: translateX(-150%);
    }
    
    100%{
      transform: translateX(0%);
    } 
  }

  @keyframes moveToLeft{
    0% {
      transform: translateX(150%);
    }
    
    100%{
      transform: translateX(0%);
    } 
  }